# MongoDB Connection
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/agento"
MONGO_URI_ADMIN="mongodb+srv://<username>:<password>@cluster0.mongodb.net/agento_admin"

# NextAuth Configuration
NEXTAUTH_SECRET="super-secret-key-for-local-testing"
NEXTAUTH_URL="http://localhost:3000"

# Admin User
NEXT_PUBLIC_ADMIN_MAIL="admin@agento.ai"

# Ollama Configuration
OLLAMA_URL="http://localhost:11434"
OLLAMA_VISION_MODEL="llama3.2-vision" # Or llava
